body {
    background-color: rgb(0, 0, 0);
}

.banner {
    background: linear-gradient(rgba(255, 0, 0, 0.301), rgb(12, 12, 12)), url("https://i.pinimg.com/736x/5c/df/c3/5cdfc3d64d8dad1f2ab120383f0719b9.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.bg-white {
    background-color: rgba(221, 10, 10, 0.3) !important;
}

.bg-red {
    background-color: rgb(0, 0, 0) !important;
}

.bg-footer {
    background-color: rgb(43, 43, 43) !important;
}

.btn-reddark:hover {
    background-color: rgb(139, 0, 0);
    color: white;
}

.btn-red {
    background-color: rgb(184, 26, 26);
    color: white;
}

.fb {
    font-weight: 700;
}

.font {
    font-family: "poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* section banner */
.s-1 {
    background: linear-gradient(rgb(12, 12, 12), rgb(0, 0, 0));
    height: auto;
}

.s-2 {
    background: linear-gradient(rgb(0, 0, 0), rgb(37, 37, 37));
    height: 50vh;
}



.scroll-mt {
    scroll-margin-top: 40px;
}

/* card img ratio 9:16 */
.square-img {
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 4;
}

.square {
    aspect-ratio: 1 / 1;
}

.w-10 {
    width: 10%;
}

/* hovered card */
.hovered-card {
    transition: transform 0.3s;
}

.hovered-card:hover {
    transform: scale(1.05);
    z-index: 1;
}

.hidden {
    display: none;
}

.card {
    background: linear-gradient(rgb(112, 6, 6), rgb(44, 0, 0)) ;
    color: white;
}

/* text shadow */
.text-shadow-sm {
    text-shadow: 1px 1px 2px black;
}

.text-shadow {
    text-shadow: 2px 2px 4px black;
}

.text-shadow-lg {
    text-shadow: 3px 3px 6px black;
}

#genre .card {
    background: linear-gradient(rgba(184, 26, 26, 0.8), rgba(112, 6, 6, 0.8));
    color: white;
}

#genre .card img {
    opacity: 0.4;
}

/* text dec  */
.t-none {
    text-decoration: none;
}

.serv {
    background-color: rgb(37, 37, 37);
}

.icon-service {
    width: 90px;
    height: 90px;
    border: solid white 2px;
    border-radius: 50%;
    color: white;
}

.card-serv {
    border: solid rgb(100, 100, 100) 2px;
    padding: 12px;
    border-radius: 20px;
    padding-block: 40px;
}

/* hovered card */
.hovered-card-gold {
    transition: transform 0.3s;
}

.hovered-card-gold:hover {
    transform: scale(1.05);
    z-index: 1;
    box-shadow: 0px 0px 200px rgb(110, 105, 72);
}